body{
    margin: 0px 0px;
    background-color: slateblue;
    color: aliceblue;
}
h1{
    text-align: center;
}

input{
    width: 5vh;
    text-align: center;
    height: 5vh;
    font-size: 1.5vh;
}

.content-body{
    padding: 5vw;
}